extends layout

block content
  h1= title
  p Showing 2017 season standings.

  -sortTeams = function(teamA, teamB) { return teamB.win - teamA.win; }

  -alTeams  = teamData.filter(function(team) { return team.league   === 'AL'; }).sort(sortTeams);
  -alETeams = alTeams.filter(function(team)  { return team.division === 'East'; });
  -alCTeams = alTeams.filter(function(team)  { return team.division === 'Central'; });
  -alWTeams = alTeams.filter(function(team)  { return team.division === 'West'; });

  -nlTeams  = teamData.filter(function(team) { return team.league   === 'NL'; }).sort(sortTeams);
  -nlETeams = nlTeams.filter(function(team)  { return team.division === 'East'; });
  -nlCTeams = nlTeams.filter(function(team)  { return team.division === 'Central'; });
  -nlWTeams = nlTeams.filter(function(team)  { return team.division === 'West'; });

  h2 By Division

  +teamsTable("American League East",    alETeams)
  +teamsTable("American League Central", alCTeams)
  +teamsTable("American League West",    alWTeams)
  +teamsTable("National League East",    nlETeams)
  +teamsTable("National League Central", nlCTeams)
  +teamsTable("National League West",    nlWTeams)

  h2 By League

  +teamsTable("American League", alTeams)
  +teamsTable("National League", nlTeams)

mixin teamsTable(caption, teams)
  table
    caption= caption
    thead
      tr
        th Team
        th(abbr="Wins") W
        th(abbr="Losses") L
        th(abbr="Home Wins") Home W
        th(abbr="Home Losses") Home L
        th(abbr="Away Wins") Away W
        th(abbr="Away Losses") Away L
    tbody
    -for(var team in teams)
      tr
        td= teams[team].name
        td= teams[team].win
        td= teams[team].lose
        td= teams[team].winHome
        td= teams[team].loseHome
        td= teams[team].winAway
        td= teams[team].loseAway
