extends layout

block content
  h1= title
  p Showing 2017 season standings.

  // a comparator function used for sorting teams by wins
  -sortTeams = function(teamA, teamB) { return teamB.win - teamA.win; }

  -alTeams  = teamData.filter(function(team) { return team.league   === 'AL'; }).sort(sortTeams);
  -alETeams = alTeams.filter(function(team)  { return team.division === 'East'; });
  -alCTeams = alTeams.filter(function(team)  { return team.division === 'Central'; });
  -alWTeams = alTeams.filter(function(team)  { return team.division === 'West'; });

  -nlTeams  = teamData.filter(function(team) { return team.league   === 'NL'; }).sort(sortTeams);
  -nlETeams = nlTeams.filter(function(team)  { return team.division === 'East'; });
  -nlCTeams = nlTeams.filter(function(team)  { return team.division === 'Central'; });
  -nlWTeams = nlTeams.filter(function(team)  { return team.division === 'West'; });

  h2 By Division

  +teamsTable("American League East",    alETeams)
  +teamsTable("American League Central", alCTeams)
  +teamsTable("American League West",    alWTeams)
  +teamsTable("National League East",    nlETeams)
  +teamsTable("National League Central", nlCTeams)
  +teamsTable("National League West",    nlWTeams)

  h2 By League

  +teamsTable("American League", alTeams)
  +teamsTable("National League", nlTeams)

mixin teamsTable(caption, teams)
  table.teamsTable
    caption= caption
    thead
      tr
        th
        th(colspan=3) Overall
        th(colspan=3) Home
        th(colspan=3) Away
      tr
        th Team
        th(abbr="Overall Wins") W
        th(abbr="Overall Losses") L
        th(abbr="Overall Percentage") Pct
        th(abbr="Home Wins") W
        th(abbr="Home Losses") L
        th(abbr="Home Percentage") Pct
        th(abbr="Away Wins") W
        th(abbr="Away Losses") L
        th(abbr="Away Percentage") Pct
    tbody
    -for(var team in teams)
      tr
        th(scope="row")= teams[team].name
        td= teams[team].win
        td= teams[team].lose
        td= teams[team].pct
        td= teams[team].winHome
        td= teams[team].loseHome
        td= teams[team].pctHome
        td= teams[team].winAway
        td= teams[team].loseAway
        td= teams[team].pctAway
